* {
    margin: 0;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.face {
    font-size: 100px;
}

.yellow {
    background-color: #fc0;
}

.orange {
    background-color: #f90;
}